.about-us-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  background-color: #e8e4e6;
  color: var(--clr-btn-hover);
  margin-top: 20px;
}

.about-us-text {
  margin-bottom: 1em;
  color: var(--clr-card-headline);
  line-height: 1.7;
  font-size: 2rem;
}

.team-section, .mission-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  align-items: center;
}

.team-section h2, .mission-section h2 {
  color: var(--clr-btn-hover);
  flex-basis: 100%;
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}

.team-members .team-members-card {
  text-align: center;
  margin: 26px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--br);
  transition: var(--ts);
  padding: 20px;
  background-color: var(--clr-box-bg);
  width: 199px;
}

.team-members img {
  width: 154px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.team-members .social-icons {
  display: flex;
  justify-content: center;
  margin-top: .5em;
  gap: .5em;
  font-size: 3rem;
  color: var(--clr-btn);
}

.team-members .social-icons .icon {
  cursor: pointer;
  transition: var(--ts);
}

.team-members .social-icons .icon:hover {
  color: var(--clr-btn-hover);
}

.mission-section p {
  color: var(--clr-black);
}

.mission-section a {
  color: var(--clr-primary);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.mission-section a:hover {
  color: var(--clr-btn);
}
