.filter {
  background-color: var(--clr-card-bg);
  border-radius: var(--br);
  margin-bottom: 2em;
}

.filter-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: var(--clr-receipe-box);
  border-radius: var(--br);
  box-shadow: var(--bs);
}

.tags-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  gap: .5em;
  color: var(--clr-primary-text);
}

.tag img {
  width: 50px;
}

.search {
  outline: none;
  border: none;
  padding: 9px;
  border-radius: var(--br);
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.search::placeholder {
  color: var(--clr-black);
}

.btnalergico {
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btnYn, .Ybtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnalergico h3 {
  color: var(--clr-btn-hover);
}

.btnalergico button {
  margin: 6px;
  width: 220px;
  height: 32px;
}

.allergy-checkbox-group {
  display: flex;
  flex-direction: column;
}

.allergy-checkbox-list {
  display: flex;
  flex-wrap: wrap;
}

.allergy-checkbox-item {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: var(--br);
  cursor: pointer;
}

.allergy-checkbox-item input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--clr-white);
  border: 2px solid #777;
  border-radius: var(--br);
  cursor: pointer;
  position: relative;
  outline: none;
}

.allergy-checkbox-item input[type="checkbox"]:checked {
  border-color: #4CAF50;
}

.allergy-checkbox-item input[type="checkbox"]:checked:after {
  content: '✔'; /* Changed 'X' to a check mark */
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #4CAF50;
  font-weight: bold;
  font-size: 16px;
}

.allergy-checkbox-item label {
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
}