:root {
  --primary-color: #5e72e4;
  --secondary-color: #32325d;
  --background-color: #f7fafc;
  --text-color: #172b4d;
  --placeholder-color: #a4aab3;
}

.profile-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 70, 67, 0.7)),
    url("/imgs/fondoUpdate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-wrapper {
  background-color: white;
  border-radius: var(--br);
  box-shadow: var(--bs);
  padding: 20px;
  width: 450px;
  max-width: 90%;
}

.profile-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.profile-form .input-box {
  position: relative;
  width: 300px;
}

.profile-form label {
  position: absolute;
  left: 0;
  padding: 1em;
  pointer-events: none;
  text-transform: uppercase;
  color: lightgray;
  transition: var(--ts);
}

.profile-form input {
  width: 100%;
  border: 1px solid lightgray;
  font-size: 1.6rem;
  outline: none;
  padding: 1em;
  border-radius: var(--br);
  transition: var(--tr);
}

.profile-form .input-box input:focus ~ label,
.profile-form .input-box input:valid ~ label {
  color: var(--clr-btn-hover);
  transform: translateX(5px) translateY(-9px);
  font-size: 1.4rem;
  padding: 0 8px;
  background-color: white;
  letter-spacing: .2em;
}

.profile-form .input-box input:focus,
.profile-form .input-box input:valid {
  border: 1px solid var(--clr-btn-hover);
}

.profile-header {
  color: var(--clr-btn-hover);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
