.testimonial {
  padding: 2rem;
  position: relative;
  background-color: #e8e4e6; 
  transition: var(--ts);
  border-radius: var(--br);
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial blockquote:before {
  content: '\201C';
  font-size: 4rem;
  position: relative;
  color: var(--clr-btn);
  line-height: 2rem;
  bottom: -13px;
  right: 5px;
}

.testimonial blockquote:after {
  content: '\201D';
  font-size: 4rem;
  position: relative;
  color: var(--clr-btn);
  line-height: 1rem;
  bottom: -17px;
  left: 5px;
}

.testimonial p {
  color: var(--clr-primary-text);
  line-height: 1.5;
}

.testimonial p:last-child {
  font-style: italic;
  text-align: right;
  margin-top: 2rem;
  font-size: 1.4rem;
}