@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
:root {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 62.5%;

  --clr-primary-navbar: #004643;
  --clr-primary: #97d789;
  --clr-secondary: #f8f7ed;
  --clr-secondary-box: #f8f7ed;
  --clr-primary-text: #0f3433;
  --clr-secondary-text: #abd1c6;
  --clr-btn: #79cb67;
  --clr-btn-navbar: #fffffe;
  --clr-btn-text: #001e1d;
  --clr-btn-hover: #489c35;
  --clr-primary-headline: #86d973;
  --clr-secondary-headline: #fffffe;
  --clr-card-headline: #001e1d;
  --clr-card-bg: #abd1c6;
  --clr-box-bg: #fffffe;
  --clr-footer-bg: #a1db95;

  --clr-hover-text: #fbdd74;
  --clr-receipe-box: #345e36de;

  --fz-header: 1.4rem;
  --fz-title: 2.4rem;

  --br: 5px;
  --ts: .2s;
  --bs: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --clr-beige: #f5f5dc;
  --clr-white: white;
  --clr-black: #000;
}


body {
  background-color: var(--clr-white);
  font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

input {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.6rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section {
  padding-block: 2em;
}

.section-x2 {
  padding-block: 2em;
}

.btn {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: var(--br);
  background-color: var(--clr-btn);
  color: var(--clr-white);
  font-size: 2rem;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--clr-btn-hover);
  color: white;
}

.spinner {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
